@font-face {
	font-family: "SF UI Text";
	font-weight: 300;

	src: 
		url(../fonts/SFUIText-Light.woff2), 
		url(../fonts/SFUIText-Light.woff);
}

@font-face {
	font-family: "SF UI Text";
	font-weight: 400;

	src: 
		url(../fonts/SFUIText-Regular.woff2), 
		url(../fonts/SFUIText-Regular.woff);
}

@font-face {
	font-family: "SF UI Text";
	font-weight: 500;

	src: 
		url(../fonts/SFUIText-Medium.woff2), 
		url(../fonts/SFUIText-Medium.woff);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*
** Header **
*/

.header {
	margin-top: 40px;
	width: 100%;
	position: sticky;
    top: 0;
    background-color: white;
}

.nav {
	width: 70%;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.nav-menu {
	width: 70%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.nav-item a {
	color: black;
	text-decoration: none;
	font-family: "SF UI Text";
	font-size: 20px;
	font-weight: 400;
}

.nav-item.separator {
	color: #C9C9C9;
	font-family: "SF UI Text";
	font-size: 40px;
	font-weight: 300;
}

/*
** Main **
*/

.banner {
	margin-top: 130px;
}

.banner-header .title {
	font-family: "SF UI Text";
	font-size: 20px;
	font-weight: 500;
}

.banner-header h2 {
	font-family: "SF UI Text";
	font-size: 34px;
	font-weight: 500;
	line-height: 41px;
}

.banner-header .price {
	font-family: "SF UI Text";
	font-size: 20px;
	font-weight: 300;
}

.banner-button {
	margin-top: 32px;
	padding: 18px 23px;
	color: white;
	border: none;
	background: #0071E3;
	border-radius: 30px;
	font-family: "SF UI Text";
	font-size: 20px;
	font-weight: 400;
}

.banner-img {
	display: block;
	width: 100%;
	margin-top: 100px;
}

.about {
	margin-top: 140px;
}

.about-header h2 {
	font-family: "SF UI Text";
	font-size: 34px;
	font-weight: 500;
	line-height: 40px;
	margin-top: 0;
}

.about .cards {
	margin-top: 50px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-item {
	margin: 30px 15px;
}

.card-item .title {
	font-family: "SF UI Text";
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 35px;
}

.card-item p {
	font-family: "SF UI Text";
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	width: 410px;
	margin-top: 20px;
}

.order {
	margin-top: 140px;
}

.order-header h2 {
	font-family: "SF UI Text";
	font-size: 34px;
	font-weight: 500;
	line-height: 41px;
	margin-top: 0;
	margin-bottom: 26px;
}

.form-container {
	font-family: "SF UI Text";

	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.form-container legend {
	color: #C9C9C9;
	font-weight: 300;
	font-size: 34px;
	line-height: 40px;
}

.form-container p {
	text-align: left;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
}

.form-container select {
	width: 100%;
}

.form-container:last-child {
	text-align: left;
}

.form-container .form-text {
	border: 1px solid #C9C9C9;
	box-sizing: border-box;
	border-radius: 34px;
	width: 657px;
	padding: 100px 80px;
	margin-top: 32px;
}

.form-container input[type="text"] {
	background: #FFFFFF;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	border: none;
	width: 470px;
    height: 90px;
    margin-bottom: 50px;
    font-size: 90px;
}

.form-container input[type="text"]:last-child {
	margin-bottom: 0;
}

.form-container .form-notext {
	border: 1px solid #C9C9C9;
	box-sizing: border-box;
	border-radius: 34px;
	width: 657px;
	padding: 100px 80px;
	margin-top: 32px;
}

.form-container select {
	background: #FFFFFF;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	border: none;
	width: 470px;
    height: 90px;
    margin-bottom: 50px;
}

.form-container select:last-child {
	margin-bottom: 0;
}

.form-container .flag {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.form-container input[type="checkbox"] {
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin: 26px 30px 26px 0;
}

.form-container input[type="checkbox"] label {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.flag-item {
	display: flex;
	align-items: center;
	align-content: center;
}

.order .form-button {
	margin-top: 84px;
	padding: 18px 23px;
	color: white;
	border: none;
	background: #0071E3;
	border-radius: 30px;
	font-family: "SF UI Text";
	font-size: 20px;
	font-weight: 400;
}

/*
** Footer **
*/

.footer {
	background-color: gray;
    color: white;
    margin-top: 100px;
    width: 100%;
    font-family: "SF UI Text";
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.footer-container {
	width: 70%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

@media (max-width: 1200px) {

	.nav {
		width: 85%;
	}

}